<footer class="container rodape">
    <div class="container-grid">
        <div class="logo-rodape">
            <a routerLink="">
                <img src="../../../assets/IMG/Ico.png" alt="logo rodape">
            </a>
            <h3>Game Mania</h3>
        </div>

        <div class="lista">
            <ul class="lista-info col-sm">
                <li><a href="#info">Informações</a></li>
                <li><a href="#contact">Contato</a></li>
                <li><a href="#sobrenos">Sobre a Game Mania</a></li>
                <li><a href="#endereco">Endereço:
                        <span>Rua A, 3030, Rio de Janeiro, RJ</span></a></li>
            </ul>
        </div>
        <div class="certificados">
            <h4>Certificado de segurança</h4>
            <img src="../../../assets/IMG/certificado.png" alt="Certificados de segurança">
        </div>
    </div>
</footer>